body {
    background: #751313;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #000;
    margin: 0px;
}

@font-face {
    font-family: "BrownBagLunch";
    src: url("/content/fonts/BrownBagLunch.ttf");
}

.container {
    margin: auto 20%;
    background: #fff;
    padding: 12px 40px;
    min-height: 100%;
    box-sizing: border-box;
}

h3 {
    margin-top: 50px;
}

.text-input {
    padding: 11px;
    border: 2px solid #751313;
    background: #fff;
    outline: none;
    min-width: 290px;
    transition: background 0.2s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.button {
    display: inline-block;
    border: 0;
    background: #751313;
    padding: 13px 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background: #5e0d0d;
}

.button:active {
    background: #4f0808;
}

.signature {
    display: inline-block;
    font-family: "BrownBagLunch";
    color: #5e0d0d;
    padding: 9px;
    margin: 4px;
    font-size: 27pt;
    cursor: default;
}

.signature:hover {
    text-decoration: underline;
}

.notification {
    display: block;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    background: #f9ff9e;
}

.notification .title {
    display: inline-block;
    padding: 11px;
    font-weight: bold;
}

.notification .body {
    display: inline-block;
}

strong {
    font-weight: normal;
    color: #751313;
    text-decoration: underline;
}